@model CartVM
@{
    ViewData["Title"] = "Cart Summary";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Cart Summary</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Amount
                    </th>
                    <th>
                        Movie
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart.CartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Movie.Name</td>
                        <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                        <td class="align-middle">@item.Price.ToString("c")</td>
                        <td class="align-middle button-group">
                            <a class="text-danger btn" asp-controller="Orders" asp-action="RemoveItemFromCart" asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            <a class="text-success btn" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>@Model.Total.ToString("c")</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-end">
            <div class="btn-group">
               @* <a class="btn btn-success" asp-action="CompleteOrder">
                    Complete Order
                </a>*@
                <div id="paypal-btn"></div>
                <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                    Add more items
                </a>

            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="https://www.paypalobjects.com/api/checkout.js">
    
    </script>

    <script>
        let _total = @Html.Raw(Model.Total);
        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'AZDSTT6SfF4goNQUmXRjhUFwMJ2eoibtwNfV2bJetnrxrM46bn0VR9sNSS_988jx7lvRZgKgBrxfgrXg'
            },
            // customize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            // set up payment
            payment: function(data, actions){
                return actions.payment.create({
                    transactions:[{amount:{total: _total, currency: 'USD'}}]
                });
            },
            // execute payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function(){
                    window.location.href = '@Url.Action("CompleteOrder", "Orders")';
                });
            }
        }, '#paypal-btn')
    </script>
}